<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message  %}
        <p><strong>{{error_message}}</strong></p>
    {% endif %}
    {% for choise in question.choise_set.all %}
        <input
            type="radio"
            name="choise"
            id="choise {{ forloop.counter }}"
            value="{{choise.id}}"
        >
        <label for="choise{{ forloop.counter }}">
            {{choise.choise_text}}
        </label>
        <br>

    {% endfor %}
</fieldset>
<input type="submit" value="votar">
</form>

<!--<h1>{{question.question_text }}</h1>
<ul>
    {% for choise in question.choise_set.all %}
        <li>{{choise.choise_text}}</li>
    {% endfor %}
</ul>-->
